*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    width: 1000px;
    height: 600px;
    border: 1px solid;
    margin: auto;
    margin-top: 50px;
}
.box-base{
    width: 100%;
    height: 33.333%;
}
.box1{
    background-color: #ED2939 ;
}
.box2{
    background-color: #FFFFFF;
}
.box3{
    background-color: #00A1DE;
}
.name{
    font-size: 18px;
    text-align: center;
}